In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import numpy as np
import pandas as pd

AN=np.array([
		[6,5],
		[8,7],
		[14,13],
		[23,27],
		[39,49],
		[52,81],
		[82,125]
	])
AN[0][1]

5

In [21]:
for i in range(len(AN)):
    print(i)
    NParamType="SK3"
    df=pd.read_csv(f"../data/Z{AN[i][0]}N{AN[i][1]}L0_{NParamType}NaN/Energy2.csv",comment="#")
df.head()

0
1
2
3
4
5
6

,Etot2/A(MeV),Etot2(MeV),EKin(MeV),ESPS(MeV),ER(MeV),Epair(MeV),Ecm_dir(MeV)
0,-7.824971,-1619.769007,3824.77734,-4355.432713,1354.441321,0.0,18.568149

In [24]:
df=pd.read_csv(f"../data/Z8N7L1_SK3LY1/Energy.csv",comment="#")
print(len(df))
df.head()

3

,jLam,lLam,E/A(MeV),Etot(MeV),E_Kin(MeV),E_SPS(MeV),En_R(MeV),El_R(MeV),Epair(MeV),El_Check(MeV)
0,0.5,0,-8.403504,-134.456067,220.692528,-315.781525,72.483826,4.655645,0.0,-6.309607
1,0.5,1,-7.715539,-123.448622,220.692528,-315.781525,72.483826,2.619452,0.0,-4.462430
2,1.5,1,-7.715539,-123.448622,220.692528,-315.781525,72.483826,2.619452,0.0,-4.462430

In [31]:
(df["jLam"])**(2/3)

0    0.629961
1    0.629961
2    1.310371
Name: jLam, dtype: float64